<template>
	<div class="container">
		<LabelStyle/>
		<Search/>
		<Disabled/>
		<DisabledList/>
		<Required/>
		<Icon/>
		<Helper/>
		<Color/>
		<DropdownListSize/>
		<CustomList/>
	</div>
</template>

<script>
import LabelStyle from "./LabelStyle.vue";
import Search from "./Search.vue";
import Disabled from "./Disabled.vue";
import DisabledList from "./DisabledList.vue";
import Required from "./Required.vue";
import Icon from "./Icon.vue";
import Helper from "./Helper.vue";
import Color from "./Color.vue";
import DropdownListSize from "./DropdownListSize.vue";
import CustomList from "./CustomList.vue";

export default {
	components: {
		LabelStyle,
		Search,
		Disabled,
		DisabledList,
		Required,
		Icon,
		Helper,
		Color,
		DropdownListSize,
		CustomList
	},

	data() {
		return {
			selectedValue: ""
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
	font-family: 'Kanit', sans-serif;
	font-weight: 200;

	table {
		width: 100%;

		th, td {
			text-align: center;
		}

		td {
			&:first-of-type {
				text-align: right;
			}
		}
	}
}
</style>