<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Custom List</h3>
				<section>
					<vqm-dropdown
						v-model="input1"
						:list="list"
						label-style="label-inside"
						label="Label"
						size="medium"
					/>
				</section>
				<section>
					<vqm-dropdown
						v-model="input1"
						:list="list"
						label-style="label-inside"
						label="Label"
						size="large"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Custom List</h3>
				<section>
					<vqm-dropdown
						v-model="input2"
						:list="list"
						label-style="label-outside"
						label="Label"
						size="medium"
					/>
				</section>
				<section>
					<vqm-dropdown
						v-model="input2"
						:list="list"
						label-style="label-outside"
						label="Label"
						size="large"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Custom List</h3>
				<section>
					<vqm-dropdown
						v-model="input3"
						:list="list"
						label-style="label-border"
						label="Label"
						size="medium"
					/>
				</section>
				<section>
					<vqm-dropdown
						v-model="input3"
						:list="list"
						label-style="label-border"
						label="Label"
						size="large"
					/>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Custom List</h3>
				<section>
					<vqm-dropdown
						v-model="input4"
						:list="list"
						placeholder="Placeholder"
						size="medium"
					/>
				</section>
				<section>
					<vqm-dropdown
						v-model="input4"
						:list="list"
						placeholder="Placeholder"
						size="large"
					/>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import VqmDropdown from "../Dropdown.vue";

export default {
	components: {
		VqmDropdown
	},

	data() {
		return {
			input1: "ar",
			input2: "",
			input3: "",
			input4: "",

			list: [
				{
					title: `
						<img src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/ar.svg" style="margin-right: 5px;width: 24px;height: 16px;">
						<span>Argentina</span>
                    `,
					value: "ar"
				},
				{
					title: `
						<img src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/br.svg" style="margin-right: 5px;width: 24px;height: 16px;">
						<span>Brazil</span>
                    `,
					value: "bz"
				},
				{
					title: `
						<img src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/is.svg" style="margin-right: 5px;width: 24px;height: 16px;">
						<span>Iceland</span>
                    `,
					value: "is"
				},
				{
					title: `
						<img src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/th.svg" style="margin-right: 5px;width: 24px;height: 16px;">
						<span>Thailand</span>
                    `,
					value: "th"
				}
			]
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    padding: 15px;

    .rows {
        flex: 1;
        padding: 0 15px;

        h1 {
            color: #666666;
        }

        section {
            margin-bottom: 20px;

            p {
                margin-top: 5px;
            }
        }

        hr {
            margin-bottom: 15px;
        }
    }
}
</style>