<template>
	<div class="wrapper">
		<div class="container">
			<div class="rows">
				<h3>Icon</h3>
				<section>
					<vqm-dropdown
						v-model="input1"
						:list="list"
						label-style="label-inside"
						label="Label"
						size="medium"
					>
						<template v-slot:icon-prepend>
							<i class="far fa-question-circle color-gray"></i>
						</template>
					</vqm-dropdown>
				</section>
				<section>
					<vqm-dropdown
						v-model="input1"
						:list="list"
						label-style="label-inside"
						label="Label"
						size="large"
					>
						<template v-slot:icon-prepend>
							<i class="far fa-question-circle color-gray"></i>
						</template>
					</vqm-dropdown>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Icon</h3>
				<section>
					<vqm-dropdown
						v-model="input2"
						:list="list"
						label-style="label-outside"
						label="Label"
						size="medium"
					>
						<template v-slot:icon-prepend>
							<i class="far fa-question-circle color-gray"></i>
						</template>
					</vqm-dropdown>
				</section>
				<section>
					<vqm-dropdown
						v-model="input2"
						:list="list"
						label-style="label-outside"
						label="Label"
						size="large"
					>
						<template v-slot:icon-prepend>
							<i class="far fa-question-circle color-gray"></i>
						</template>
					</vqm-dropdown>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Icon</h3>
				<section>
					<vqm-dropdown
						v-model="input3"
						:list="list"
						label-style="label-border"
						label="Label"
						size="medium"
					>
						<template v-slot:icon-prepend>
							<i class="far fa-question-circle color-gray"></i>
						</template>
					</vqm-dropdown>
				</section>
				<section>
					<vqm-dropdown
						v-model="input3"
						:list="list"
						label-style="label-border"
						label="Label"
						size="large"
					>
						<template v-slot:icon-prepend>
							<i class="far fa-question-circle color-gray"></i>
						</template>
					</vqm-dropdown>
				</section>
			</div>
			<div class="rows">
				<h3 style="opacity: 0;">Icon</h3>
				<section>
					<vqm-dropdown
						v-model="input4"
						:list="list"
						placeholder="Placeholder"
						size="medium"
					>
						<template v-slot:icon-prepend>
							<i class="far fa-question-circle color-gray"></i>
						</template>
					</vqm-dropdown>
				</section>
				<section>
					<vqm-dropdown
						v-model="input4"
						:list="list"
						placeholder="Placeholder"
						size="large"
					>
						<template v-slot:icon-prepend>
							<i class="far fa-question-circle color-gray"></i>
						</template>
					</vqm-dropdown>
				</section>
			</div>
		</div>
	</div>
</template>

<script>
import VqmDropdown from "../Dropdown.vue";

export default {
	components: {
		VqmDropdown
	},

	data() {
		return {
			input1: "",
			input2: "",
			input3: "",
			input4: "",

			list: [
				{ title: "Selection 1", value: "1" },
				{ title: "Selection 2", value: "2" },
				{ title: "Selection 3", value: "3" },
				{ title: "Selection 4", value: "4" },
				{ title: "Selection 5", value: "5" },
				{ title: "Selection 6", value: "6" }
			]
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    padding: 15px;

    .rows {
        flex: 1;
        padding: 0 15px;

        h1 {
            color: #666666;
        }

        section {
            margin-bottom: 20px;

            p {
                margin-top: 5px;
            }
        }

        hr {
            margin-bottom: 15px;
        }
    }
}

.color-gray {
	color: gray;
}
</style>