<template>
	<ul :class="['vmq-container-dropdown-list']">
		<dropdown-list-item
			v-for="item in filterList"
			:key="item.uuid"
			:item="item"
			:size-dropdown-list="sizeDropdownList"
			@select="handleSelect"
			@mouseover="handleMouseover"
			@mouseleave="handleMouseleave"
		>
			<span v-html="item.title"></span>
		</dropdown-list-item>
		<li v-if="isEmpty" class="empty">
			No data.
		</li>
	</ul>
</template>

<script>
import DropdownListItem from "./DropdownListItem.vue";
import { innerText } from "../assets/js/utils";

export default {
	name: "DropdownList",

	components: {
		DropdownListItem
	},

	props: {
		list: {
			type: Array,
			defailt: () => ([])
		},

		sizeDropdownList: {
			type: String,
			default: "large",
			validator: (value) => {
				return [
					"small",
					"large"
				].includes((value));
			}
		},

		input: {
			type: String,
			default: ""
		},

		searchable: {
			type: Boolean,
			default: false
		},

		isShow: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			innerText,
			currentFocusIndex: -1
		};
	},

	computed: {
		filterList() {
			let results = this.list;

			if (this.searchable) {
				try {
					const input = this.innerText(this.input).toLowerCase();
					const search = (item) => {
						const title = this.innerText(item.title).toLowerCase();
						return !!~title.search(input);
					};

					results = this.list.filter(search);
				} catch (e) {
					results = [];
				}
			}

			return results.map((item, index) => {
				return {
					...item,
					index,
					hover: index === this.currentFocusIndex,
					disabled: item.disabled || false
				};
			});
		},

		currentItem() {
			return this.filterList[this.currentFocusIndex];
		},

		isEmpty() {
			return this.filterList.length === 0;
		}
	},

	mounted() {
		window.addEventListener("keydown", this.handleKeyDown);
	},

	methods: {
		handleSelect(item) {
			this.$emit("select", item);
		},

		handleMouseover(item) {
			this.currentFocusIndex = item.index;
		},

		handleMouseleave() {
			this.currentFocusIndex = -1;
		},

		handleKeyDown(e) {
			if (!this.isShow || !this.searchable) {
				return;
			}


			const firstIndex = 0;
			const lastIndex = this.filterList.length - 1;
			const KEY = {
				ArrowUp: false,
				ArrowDown: false,
				ArrowLeft: false,
				ArrowRight: false,
				Enter: false
			};

			KEY[e.key] = true;

			if (KEY.ArrowUp) {
				const isRevert = this.currentFocusIndex <= firstIndex;

				if (isRevert) {
					this.currentFocusIndex = lastIndex;
				} else {
					this.currentFocusIndex--;
				}
			} else if (KEY.ArrowDown) {
				const isRevert = this.currentFocusIndex >= lastIndex;

				if (isRevert) {
					this.currentFocusIndex = firstIndex;
				} else {
					this.currentFocusIndex++;
				}
			} else if (KEY.Enter) {
				const isDisabled = this.currentItem.disabled;
				const isFocus = this.currentFocusIndex >= firstIndex;

				if (isFocus && !isDisabled) {
					this.$emit("select", this.currentItem);
				}
			} else if (!KEY.ArrowLeft && !KEY.ArrowRight) {
				this.currentFocusIndex = -1;
			}

			// if this item is disabled then
			// press this key again.
			if (this.currentItem?.disabled) {
				this.handleKeyDown({ key: e.key });
			}
		}
	},

	destroyed() {
		window.removeEventListener("keydown", this.handleKeyDown);
	}
};
</script>

<style lang="scss" scoped>
$color-black-20: rgba(136, 136, 136, 0.4);
$color-white: #fff;
$color-gray-dark: #8c8c8c;
$color-gray-light: #bfbfbf;

.vmq-container {
	&-dropdown-list {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 8px 0;
		list-style: none;
		background-color: $color-white;
		box-shadow: 0 2px 8px 0 $color-black-20;
		border-radius: 4px;

		.empty {
			text-align: center;
			color: $color-gray-dark;
			cursor: text;
		}
	}
}
</style>