<template>
	<div :class="['vmq-container-dropdown', ...wrapperClass]" ref="container">
		<!-- fake input -->
		<div
			:style="fakerInput.style"
			class="vmq-container-dropdown-fakeinput"
			v-html="input"
		></div>

		<!-- Input -->
		<vqm-input
			v-model="input"
			:size="size"
			:label-style="labelStyle"
			:label="label"
			:placeholder="placeholder"
			:disabled="disabled"
			:state="state"
			:state-invalid-text="stateInvalidText"
			:helper-text="helperText"
			:icon-prepend="iconPrepend"
			:clearable="clearable"
			:readonly="readonly"
			containerClass="custom-text-input"
			ref="input"
			@click="handleClickInput"
			@focus="handleFocusInput"
			@blur="handleBlurInput"
		>
			<template v-slot:icon-prepend>
				<slot name="icon-prepend"></slot>
			</template>

			<template v-slot:clear>
				<span :style="closeButtonStyle">
					<font-awesome-icon :icon="['fas', 'times-circle']" @click="handleClear" />
				</span>
			</template>
		</vqm-input>

		<!-- Dropdown List -->
		<dropdown-list
			:list="filterList"
			:size-dropdown-list="sizeDropdownList"
			:input="input"
			:searchable="searchable"
			:is-show="dropdownList.show"
			:style="dropdownList.style"
			class="vmq-container-dropdown-list"
			@select="handleSelect"
		/>

		<!-- Icon Arrow -->
		<span class="vmq-container-dropdown-arrow" @mousedown="handleClickArrow">
			<font-awesome-icon :icon="['fas', 'caret-down']"/>
		</span>
	</div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faCaretDown, faTimesCircle } from "@fortawesome/free-solid-svg-icons";
import { v4 as uuidv4 } from "uuid";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import VqmInput from "@maqe-vue/text-input";
import { foundContainerELement, isHTML } from "../assets/js/utils";
import DropdownList from "./DropdownList.vue";
// eslint-disable-next-line import/first
import "@maqe-vue/text-input/dist/input.css";

library.add(faCaretDown, faTimesCircle);

export default {
	name: "Dropdown",

	components: {
		VqmInput,
		DropdownList,
		FontAwesomeIcon
	},

	props: {
		value: {
			type: String
		},

		containerClass: {
			type: String,
			default: ""
		},

		size: {
			type: String,
			default: "large",
			validator: (value) => {
				return [
					"small",
					"medium",
					"large"
				].includes((value));
			}
		},

		sizeDropdownList: {
			type: String,
			default: "large",
			validator: (value) => {
				return [
					"small",
					"large"
				].includes((value));
			}
		},

		labelStyle: {
			type: String,
			default: "label-none",
			validator: (value) => {
				return [
					"label-inside",
					"label-outside",
					"label-border",
					"label-none"
				].includes((value));
			}
		},

		label: {
			type: String,
			default: ""
		},

		placeholder: {
			type: String,
			default: ""
		},

		disabled: {
			type: Boolean,
			default: false
		},

		helperText: {
			type: String,
			default: ""
		},

		iconPrepend: {
			type: String,
			default: null
		},

		iconAppend: {
			type: String,
			default: null
		},

		list: {
			type: Array,
			default: () => ([])
		},

		group: {
			type: Array,
			default: () => ([])
		},

		searchable: {
			type: Boolean,
			default: false
		},

		required: {
			type: Boolean,
			default: null
		},

		requiredText: {
			type: String,
			default: ""
		}
	},

	data() {
		return {
			uuidv4,
			foundContainerELement,
			isHTML,
			input: "",
			selectedItem: {},
			dropdownList: {
				show: false,
				style: null
			},
			fakerInput: {
				style: null
			}
		};
	},

	computed: {
		wrapperClass() {
			return [
				this.containerClass,
				this.stateClass,
				this.searchableClass,
				this.disabledClass,
				this.selectedClass,
				this.customListClass
			];
		},

		stateClass() {
			return this.dropdownList.show
				? "active"
				: null;
		},

		searchableClass() {
			return this.searchable
				? "searchable"
				: null;
		},

		disabledClass() {
			return this.disabled
				? "disabled"
				: null;
		},

		selectedClass() {
			return this.isSelectedValue
				? "selected"
				: null;
		},

		customListClass() {
			return this.isCustomList
				? "custom-list"
				: null;
		},

		closeButtonStyle() {
			const left = this.filterInput.length > 0
				? "-26px"
				: null;

			return [
				{ left }
			];
		},

		filterInput() {
			if (this.trim) {
				return this.input.trim();
			}
			return this.input;
		},

		filterList() {
			return this.list.map((item) => {
				const uuid = this.uuidv4();
				const active = this.selectedItem.value === item.value;

				return {
					...item,
					uuid,
					active
				};
			});
		},

		isSelectedValue() {
			return this.selectedItem.value !== undefined;
		},

		isCustomList() {
			let isCustomList = false;

			this.filterList.forEach(({ title }) => {
				if (this.isHTML(title)) {
					isCustomList = true;
				}
			});

			return isCustomList;
		},

		readonly() {
			return !this.searchable || this.isCustomList;
		},

		clearable() {
			return this.searchable && !this.disabled;
		},

		state() {
			if (this.isSelectedValue) {
				return null;
			}

			return this.required
				? false
				: null;
		},

		stateInvalidText() {
			return this.requiredText;
		}
	},

	watch: {
		// emit input to the parent when input was changed.
		// the parent can sync data by use v-model
		input() {
			if (this.selectedItem.value) {
				this.$emit("input", this.selectedItem.value);
			}
		},

		selectedItem: {
			handler(item) {
				if (item.title) {
					this.input = item.title;
				}
			},
			deep: true
		}
	},

	created() {
		// get the value from v-model of parent.
		// then set my input to equal the value
		const isSetValue = this.value;

		if (isSetValue) {
			this.selectedItem = this.filterList.find((item) => item.value === this.value) || {};
		}
	},

	mounted() {
		this.setUI();

		window.addEventListener("click", this.handleWindowClick);
		window.addEventListener("keydown", this.handleKeydown);
	},

	methods: {
		setUI() {
			const textField = this.$refs.input.$refs.textfield;
			const textFieldStyle = window.getComputedStyle(textField);

			this.fakerInput.style = [
				{ top: `${textFieldStyle.paddingTop}` },
				{ left: `${textFieldStyle.paddingLeft}` }
			];

			this.dropdownList.style = [
				{ top: `${textField.offsetHeight}px` }
			];
		},

		handleClickInput() {
			if (this.disabled) {
				return;
			}

			if (this.searchable) {
				this.dropdownList.show = true;
			} else {
				this.dropdownList.show = !this.dropdownList.show;
			}
		},

		handleFocusInput() {
			if (this.disabled) {
				return;
			}

			setTimeout(() => {
				this.dropdownList.show = true;
			}, 300);
		},

		handleBlurInput() {
			if (this.disabled) {
				return;
			}

			setTimeout(() => {
				this.dropdownList.show = false;
			}, 300);
		},

		handleClear() {
			if (this.disabled) {
				return;
			}

			setTimeout(() => {
				this.dropdownList.show = true;
				this.selectedItem = {};
			}, 1);
		},

		handleClickArrow() {
			if (this.disabled) {
				return;
			}

			const toggle = !this.dropdownList.show;

			setTimeout(() => {
				this.dropdownList.show = toggle;
				this.$refs.input.$refs.textfield.focus();
			}, 1);
		},

		handleSelect(item) {
			if (item.value !== this.selectedItem.value) {
				this.$emit("change", item.value);
			}

			this.$emit("select", item.value);

			this.dropdownList.show = false;
			this.selectedItem = item;
			this.input = item.title;
		},

		// this function use to hide dropdown list
		// when user click outside of the container
		handleWindowClick(e) {
			const rootElements = e.path;
			const containerElement = this.$refs.container;
			const found = this.foundContainerELement(rootElements, containerElement);

			if (!found) {
				this.dropdownList.show = false;
				this.input = this.selectedItem.title || "";
			}
		},

		handleKeydown(e) {
			const KEY = {
				Escape: false
			};

			KEY[e.key] = true;

			if (KEY.Escape && this.dropdownList.show) {
				this.dropdownList.show = false;
			}
		}
	},

	destroyed() {
		window.removeEventListener("click", this.handleWindowClick);
		window.removeEventListener("keydown", this.handleKeydown);
	}
};
</script>

<style lang="scss" scroped>
$color-scooter: #28b7c1;
$color-black-25: rgba(0, 0, 0, 0.25);
$color-black-50: rgba(0, 0, 0, 0.50);
$color-gray-dark: #8c8c8c;
$color-gray-light: #bfbfbf;

.vmq-container {
	&-dropdown {
		position: relative;
		--vmq-text-input-color: var(--vqm-dropdown-color, #{$color-scooter});

		&-fakeinput {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			margin: 1px 0 0 1px;
			font-size: 16px;
			font-family: inherit;
			font-weight: inherit;
			line-height: 18px;
		}

		&-list {
			position: relative;
			visibility: hidden;
		}

		&.active > &-list {
			visibility: visible;
		}

		&-arrow {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			z-index: 1;
			top: 50%;
			right: 12px;
			width: 20px;
			height: 20px;
			cursor: pointer;
			transform: translate(0, -50%);

			svg {
				color: $color-black-50;
				transition: transform 250ms ease-in-out;
			}
		}

		&.active > &-arrow svg {
			transform: rotate(-180deg);
			color: $color-scooter;
			color: var(--vqm-dropdown-color, $color-scooter);
		}

		&.searchable {
			.custom-text-input .vmq-input-textfield {
				cursor: text;
			}
		}

		&.disabled > &-arrow svg {
			color: $color-black-25;
		}

		&.disabled > &-fakeinput {
			color: $color-gray-light;
		}

		&.disabled > &-fakeinput {
			img, svg {
				opacity: .3;
			}
		}

		&.disabled {
			.custom-text-input .vmq-input-textfield {
				cursor: default;
			}
		}

		&.selected {
			.custom-text-input .vmq-input-textfield {
				opacity: 0;
			}
		}

		&.searchable.active:not(.custom-list) > &-fakeinput {
			opacity: 0;
		}

		&.searchable.active.selected:not(.custom-list) {
			.custom-text-input .vmq-input-textfield {
				opacity: 1;
			}
		}

		.custom-text-input .vmq-input-textfield {
			font-family: inherit;
			font-weight: inherit;
			cursor: pointer;
		}

		.custom-text-input .vmq-input-clear {
			span {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				width: 24px;
				height: 24px;

				svg {
					width: 50%;
					height: 50%;
					color: $color-black-25;
				}
			}
		}
	}
}
</style>