<template>
	<li
		:class="['vmq-container-dropdown-list-item', ...wrapperClass]"
		@mousedown="handleMousedown(item)"
		@mouseover="handleMouseover(item)"
		@mouseleave="handleMouseleave(item)"
	>
		<slot></slot>
	</li>
</template>

<script>
export default {
	name: "DropdownListItem",

	props: {
		item: {
			type: Object,
			default: () => ({})
		},

		sizeDropdownList: {
			type: String,
			default: "large",
			validator: (value) => {
				return [
					"small",
					"large"
				].includes((value));
			}
		}
	},

	computed: {
		wrapperClass() {
			return [
				{ active: this.item.active },
				{ hover: this.item.hover },
				{ disabled: this.item.disabled },
				this.sizeDropdownList
			];
		}
	},

	methods: {
		handleMousedown(item) {
			if (item.disabled) {
				return;
			}

			this.$emit("select", item);
		},

		handleMouseover(item) {
			this.$emit("mouseover", item);
		},

		handleMouseleave(item) {
			this.$emit("mouseleave", item);
		}
	}
};
</script>

<style lang="scss" scoped>
$color-scooter-10: rgba(40, 183, 193, .1);
$color-gray-light: #f4f4f4;
$toggle-animate-time: 100ms;

.vmq-container {
	&-dropdown-list-item {
		font-family: inherit;
		font-weight: inherit;
		font-size: 16px;
        transition: background-color $toggle-animate-time ease-in-out;
		cursor: pointer;

        &.small {
            padding: 6px 16px;
        }

		&.large {
            padding: 14px 16px;
        }

        &.hover:not(.disabled):not(.active) {
			background-color: $color-gray-light;
			background-color: var(--vqm-dropdown-hover-color, $color-gray-light);
        }

        &.active {
            background-color: $color-scooter-10;
			background-color: var(--vqm-dropdown-selected-color, $color-scooter-10);
        }

		&.disabled {
			opacity: .3;
			cursor: default;
		}
	}
}
</style>